.rdtPicker {
  width: calc(100% - 10px);
  max-width: 800px;
  margin: 0 auto;

  & table td {

    &.rdtDay, & .rdtBtn {
      height: 40px;
      line-height: 40px;
      width: 40px;
      padding: 10px;
      border-radius: 4px;
      background: #f5f5f5;
    }

    &.rdtDisabled {
      background: none;
    }

    &.rdtActive,
    &.rdtActive:hover {
      background-color: rgb(0, 188, 212);
    }
  }

  .rdtCounters {
    width: 100%;
    max-width: 165px;

    & .rdtCounter {
      width: 50%;
      height: auto;
      max-width: 80px;

      & .rdtCount {
        height: auto;
        font-size: 4em;
      }

      & .rdtBtn {
        width: 100%;
        color: #999999;
      }
    }

    & .rdtCounterSeparator {
      line-height: 165px;
    }
  }
}
